{{define "style"}}
{{end}}

{{define "content"}}
<div id="project-datasources">
    <project-layout>
        <app-header slot="header" title="tamate"></app-header>
        <project-nav slot="nav"></project-nav>
        <el-main slot="content">
            <div class="description-header">

                <el-breadcrumb separator="/">
                    <el-breadcrumb-item v-for="(route, index) in routes" :key="route">
                        <span v-if="routes.length-1 !== index"><a href="/">${route}</a></span>
                        <span v-else>${route}</span>
                    </el-breadcrumb-item>
                </el-breadcrumb>

            </div>

            <datasource-list v-if="type === 'datasources'" :loading="loading" :datasources="items"></datasource-list>
            <schema-list v-if="type === 'schemas'" :loading="loading" :schemas="items"></schema-list>
            <row-list v-if="type === 'rows'" :loading="loading" :rows="items"></schema-list>

            <!--
            <div class="form">
                <el-form ref="form" :model="form" label-width="120px">
                    <el-form-item label="Project name">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="Description">
                        <el-input v-model="form.description"></el-input>
                    </el-form-item>
                    <el-form-item label="Thumbnail">
                        <el-upload
                            class="upload-demo"
                            ref="upload"
                            action="/"
                            :auto-upload="false">
                            <el-button slot="trigger" size="small">select file</el-button>
                        </el-upload>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit" :loading="loading">Create Project</el-button>
                    </el-form-item>
                </el-form>
            </div>
            -->
        </el-main>
    </project-layout>
</div>
{{end}}

{{define "script"}}
<script src="/static/layout/project.js"></script>
<script src="/static/component/header.js"></script>
<script src="/static/component/project/nav.js"></script>
<script src="/static/component/list/datasources.js"></script>
<script src="/static/component/list/schemas.js"></script>
<script src="/static/component/list/rows.js"></script>
<script>
    new Vue({
        delimiters: ['${', '}'],
        el: '#project-datasources',
        data: {
            loading: false,

            type: '',
            projectId: '',
            datasourceId: '',
            schemaName: '',
            routes: [],
            items: [],
        },
        created: function() {
            const paths = location.pathname.split('/');
            const pathLength = paths.length;

            if (pathLength >= 3) {
                // datasources
                this.type = 'datasources';
                const projectId = paths[1];
                this.projectId = projectId;
                this.routes.push(projectId);
            }
            if (pathLength >= 4) {
                // schemas
                this.type = 'schemas';
                const datasourceId = paths[3];
                this.datasourceId = datasourceId;
                this.routes.push(datasourceId);
            }
            if (pathLength >= 5) {
                // rows
                this.type = 'rows';
                const schemaName = paths[4];
                this.schemaName = paths[4];
                this.routes.push(paths[4]);
            }

            switch(this.type) {
                case "datasources":
                    this.fetchDatasources();
                    break;
                case "schemas":
                    this.fetchSchemas(this.datasourceId);
                    break;
                case "rows":
                    this.fetchRows(this.datasourceId, this.schemaName);
                    break;
            }
        },
        methods: {
            fetchDatasources: function() {
                this.loading = true;
                // TODO: API側がProjectごとのDatasourceに対応してない
                axios.get('/api/datasources')
                    .then(res => {
                        this.items = res.data.datasources;
                        this.loading = false;
                    })
                    .catch(err => {
                        console.log(err);
                        this.loading = false;
                    })
            },
            fetchSchemas: function(datasourceId) {
                this.loading = true;
                axios.get('/api/schemas?dscId=' + datasourceId)
                    .then(res => {
                        this.items = res.data.schemas;
                    })
                    .catch(err => {
                        // TODO: エラータイプが認証が必要なやつなら個別に対応
                        
                        console.log(err);
                    })
                    .finally(() => {
                        this.loading = false;
                    });
            },
            fetchRows: function(datasourceId, schemaName) {
                this.loading = true;
                axios.get('/api/tables/rows?dscId=' + datasourceId + '&scn=' + schemaName)
                    .then(res => {
                        console.log(res);
                        this.items = res.data.rows.values;
                    })
                    .catch(err => {
                        console.log(err);
                    })
                    .finally(() => {
                        this.loading = false;
                    });
            },
            onClickNewDatasource: function() {
                location.href = '/' + this.projectId + '/datasources/new';
            },
            onSelectDatasource: function(datasource) {
                console.log(datasource);
            },
            onChangeSchema: function() {
            },
        },
    });
</script>
{{end}}
