{{define "style"}}
{{end}}

{{define "content"}}
<div id="datasource-new">
    <project-layout>
        <app-header slot="header" title="tamate"></app-header>
        <project-nav slot="nav"></project-nav>
        <el-main slot="content">
            <div class="description-header">
                <div>Create a new Datasource</div>
            </div>
            <div class="form">
                <el-form ref="form" :model="form" label-width="180px">
                    <el-form-item label="Datasource name">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="Type">
                        <el-select v-model="form.type">
                            <el-option label="SQL" value="sql"></el-option>
                            <el-option label="Spreadsheet" value="spreadsheet"></el-option>
                        </el-select>
                    </el-form-item>

                    <!-- SQL form -->
                    <el-form-item v-if="form.type === 'sql'" label="Datasource name">
                        <el-select v-model="form.sql.driver_name">
                            <el-option label="MySQL" value="mysql"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item v-if="form.type === 'sql'" label="DSN">
                        <el-input v-model="form.sql.dsn"></el-input>
                    </el-form-item>

                    <!-- Spreadsheet -->
                    <el-form-item v-if="form.type === 'spreadsheet'" label="SpreadsheetID">
                        <el-input v-model="form.spreadsheet.spreadsheet_id"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onSubmit" :loading="loading">Create Datasource</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-main>
    </main-layout>
</div>
{{end}}

{{define "script"}}
<script src="/static/layout/project.js"></script>
<script src="/static/component/header.js"></script>
<script src="/static/component/project/nav.js"></script>
<script>
    const projectNew = new Vue({
        el: '#datasource-new',
        data: {
            form: {
                name: '',
                type: '',
                sql: {
                    driver_name: '',
                    dsn: '',
                },
                spreadsheet: {
                    spreadsheet_id: '',
                    ranges: '',
                    column_row_index: 0,
                },
            },
            loading: false,
        },
        created: function() {
            this.projectId = location.pathname.split('/')[1];
        },
        methods: {
            onSubmit: function() {
                this.loading = true;
                this.submitUpload();
                axios.post('/api/datasources/create?type=' + this.form.type, {
                    'project_id': this.projectId,
                    'name': this.form.name,
                    'config': this.form[this.form.type],
                })
                .then(res => {
                    location.href = '/' + this.projectId + '/datasources';
                })
                .catch(err => {
                    console.log(err);
                })
            },
            submitUpload: function() {
                console.log('not support')
                //this.$refs.upload.submit();
            }
        },
    });
</script>
{{end}}